.experience-grid{
    width: 45rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.experience-item{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.experience-img{
    height: 90px;
}
