.experience-grid{
    width: 45rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.experience-item {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
.experience-img{
    width: 100%;
    object-fit: contain;
}
