.lifeline {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.lifeline-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7,1fr);
    gap: 0.5em;
}
.lifeline-grid > .img{
    display: flex;
    justify-content: end;
}
.picture{
    width: 15rem;
    border-radius: 15px;
}
.desc{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}
.descColOne{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align:right;
}
.descLast{
    grid-column: 1/3;
    text-transform: uppercase;
    text-align: center;
}
.empty{
    display: flex;
}
.left{
    justify-content: flex-end;
}
.right{
    justify-content: flex-start;
}
.block{
    width: 25rem;
    background-color: rgb(173, 173, 173);
    opacity: 0.5;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block:hover{
    transition: ease-in-out 150ms;
    box-shadow: 0 0 5px 5px black;
}
