@media (max-width: 470px){
    .main-page h1{
        font-size: 2.5em;
    }
    .jumpText{
        font-size: 100%;
    }
    .experience-img{
        height: 70px;
    }
    .contact-icons{
        display: flex;
        flex-flow: column;
    }
    .img-side>a>img{
        width: 75px;
        border-radius: 20px;
    }
}