@media (max-width: 470px){
    .main-page h1{
        font-size: 2.5em;
    }
    .jumpText{
        font-size: 100%;
    }
    .life-img{
        width: 100%;
    }
    .experience-grid{
        width: 10rem;
    }
    .experience-img{
        height: 75px;
    }
}