.projects-grid{
    display: flex;
    justify-content: space-between;
}
.project-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.project-description>img{
    height: 200px;
    width: 400px;
}
.project-link{
    text-decoration: none;
}
.project-tip{
    color: red;
}