@media (max-width: 750px){
    .main-page h1{
        font-size: 4.0em;
    }
    .jumpText{
        font-size: 100%;
    }
    #h3-highschool, .img-highschool {
        position: absolute;
        font-size: 1rem;
    }
    .picture{
        height: 10rem;
        width: 6rem;
    }
    .lifeline-grid>div>h1{
        font-size: 90%;
    }
    .lifeline-grid>div>h2{
        font-size: 80%;
    }
    .lifeline-grid>div>h3{
        font-size: 70%;
    }
    .block{
        width: 80%;
        background-color: rgb(173, 173, 173);
        opacity: 0.5;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .block>h3{
        font-size: 50%;
    }
    .experience-grid{
        width: 25rem;
    }
    .experience-img{
        height: 70px;
    }
    .projects-grid{
        display: flex;
        flex-flow: column;
    }
}