@media (max-width: 690px){
    .main-page h1{
        font-size: 4.0em;
    }
    .jumpText{
        font-size: 100%;
    }
    #h3-highschool, .img-highschool {
        position: absolute;
        font-size: 1rem;
    }
}